@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");

html,body{
    font-family: "Inter", serif;
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
