:root {
    --background-dark: #191C1F;
    --background-light: #212529;
    --highlight: #4C6EF5;
    --text-primary: #EDF2FF;
    --text-secondary: #ADB5BD;
    --text-light: #F8F9FA;
}

header {
    width: 100%;
    background-color: var(--background-dark);
    border-bottom: 2px solid var(--highlight);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    margin: 20px;
    height: 20px; 
}

.hdr-button {
    margin: -20px;
    padding: 10px 24px;
    border: 1px solid var(--text-light);
    background-color: var(--background-dark);
    color: var(--text-light);
    font-size: 16px;
    cursor: pointer;
}

.hdr-button:hover {
    background-color: var(--highlight);
    color: var(--text-primary);
}

/* SEÇÕES */
.banner-section {
    width: 100%;
    background-color: var(--background-light);
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-content h1 {
    color: var(--text-primary);
    font-size: 3rem;
    margin-bottom: 20px;
}

.highlight {
    color: var(--highlight);
}

.banner-content p {
    color: var(--text-secondary);
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 689px;

}

.bnr-button {
    padding: 12px 24px;
    background-color: var(--highlight);
    border: none;
    color: var(--text-light);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

.bnr-button:hover {
    transform: scale(1.05);
}

/* ABOUT */
.about-section {
    width: 100%;
    height: 230px;
    background-color: var(--background-dark);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.about-content h2 {
    font-size: 2.5rem;
    color: var(--text-primary);
    width: 620px;
}

.about-content p {
    max-width: 600px;
    font-size: 1rem;
    color: var(--text-secondary);
}

/* FAQ */
.faq-section {
    width: 100%;
    background-color: var(--background-light);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.faq-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 20px;
}

.faq-left {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 140px;
    height: 245px;
}

.faq-left h2 {
    font-size: 2.5rem;
    color: var(--text-primary);
}

.faq-left p {
    font-size: 1.2rem;
    color: var(--text-secondary);
}

.faq-button {
    padding: 12px 24px;
    background-color: var(--highlight);
    border: none;
    color: var(--text-light);
    font-size: 16px;
    cursor: pointer;
    width: 235px;
    height: 50px;
}

.faq-right {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-right h3 {
    color: var(--text-primary);
    font-size: 2rem;
    padding: 25px;
}

.faq-right p {
    color: var(--text-secondary);
    font-size: 1rem;
}
.faq-list{
    display: flex;
    flex-direction: column;
}
.faq-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
/* COMMENTS */
.comments-section {
    width: 100%;
    background-color: var(--background-light);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.comments-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 20px;
}

.comments-box {
    width: 500px;
    height: 350px;
    background-color: var(--highlight);
    padding: 0 60px;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
    margin-top: 30px;
    position: sticky; 
    top: 140px;
}

.comments-box h2 {
    font-size: 2.5rem;
}

.comments-box p {
    font-size: 1.2rem;
}

.comments-list {
    max-width: 620px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 1;
}

.comment-item {
    display: flex;
    padding: 30px;
}
.comment-item p {
    color: #CED4DA;
    font-size: 1rem;
}

.comment-author h3 {
    width: 220px;
    color: var(--text-primary);
    font-size: 1.5rem;
}

.comment-author p {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

/* FOOTER */
footer {
    background-color: var(--background-dark);
    padding: 20px;
    text-align: center;
    color: var(--text-light);
}

.modal::backdrop{
    background: #191C1FCC;
}
.modal {
    position: fixed;
    top: 160px;
    left: 508px;
    transform: translate(-50%, -50%);
    background: #212529;
    padding: 40px 28px;border-radius: 2px;
    width: 80%;
    max-width: 400px;
    height: 300px;
    border: 2px solid #4C6EF5;
    z-index: 10001;
    overflow-y: hidden;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.modal-header h2{
    font-size: 32px;
    color: #F8F9FA;
}
.close{
    background: #343A40;
    border-radius: 4px;
    border: none;
    color: #ADB5BD;
    height: 28px;
    width: 28px;
    cursor: pointer;
}
.modal p{
    font-size: 16px;
    color: #ADB5BD;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
#email{
    width: 100%;
    background-color: #191C1F;
    height: 40px;
    border: 1px solid #191C1F;
    margin-bottom: 30px;
}
#email::placeholder{
    padding-left: 10px;
    font-size: 16px;
}
.submit{
    height: 44px;
    width: 100%;
    border: 1px solid #4C6EF5;
    background-color: #4C6EF5;
    color: #F8F9FA;
    font-size: 16px;
}
@media (min-width: 1024px) and (max-width: 1120px) {
    .banner-content h1 {
        font-size: clamp(2.5rem, 3vw, 3rem);
    }
    .banner-content p {
        font-size: clamp(1rem, 1.5vw, 1.2rem); 
        margin-left: 50px; 
        width: 100%;
    }
    
    .about-content h2 {
        font-size: clamp(2rem, 2.5vw, 2.5rem); 
    }

    .about-content p {
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
    .faq-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
    }
    .faq-left h2 {
        font-size: clamp(2rem, 2.5vw, 2.5rem);
    }

    .faq-left p {
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
    .faq-button {
        width: 100%;
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
    .faq-right h3 {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
    .faq-right p {
        font-size: clamp(1rem, 1.2vw, 1.2rem);
    }
    .comments-section{
        width: 100%;
    }
    .comments-box h2 {
        font-size: clamp(2rem, 2.5vw, 2.5rem);
    }
    .comments-box p {
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
    .comment-item p {
        font-size: clamp(1rem, 1.5vw, 1.1rem);
    }
    .comment-author h3 {
        font-size: clamp(1.4rem, 1.8vw, 1.5rem);
    }
    .comment-author p {
        font-size: clamp(0.8rem, 1.2vw, 0.9rem);
    }
    footer{
        width: 100%;
    }
}
/* Responsividade para telas de 768px */
@media (min-width: 768px) and (max-width: 1023px) {
    .banner-section{
        width: 100%;
    }
    .banner-content{
        width: 100%;
    }
    .banner-content h1 {
        font-size: clamp(2rem, 3.5vw, 3.2rem)
    }
    .banner-content p {
        font-size: clamp(1rem, 2vw, 1.2rem);
    }
    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-content h2 {
        font-size: clamp(1.8rem, 2.5vw, 2.3rem);
    }

    .about-content p {
        font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    }
    .faq-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
    }
    .faq-left h2 {
        font-size: clamp(1.8rem, 2.5vw, 2.3rem);
    }

    .faq-left p {
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
    .faq-button {
        width: 100%;
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
    .faq-right h3 {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
    }
    .faq-right p {
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
    .comments-section{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .comments-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .comments-box{
        order: 1;
        width: 100%;
        position: static;
    }
    .comments-list{
        order: 2;
    }
    .comments-box h2 {
        font-size: clamp(2rem, 2.5vw, 2.5rem);
    }

    .comments-box p {
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }
    .comment-item p {
        font-size: clamp(1rem, 1.5vw, 1.1rem);
    }
    .comment-author h3 {
        font-size: clamp(1.3rem, 1.8vw, 1.5rem);
    }
    .comment-author p {
        font-size: clamp(0.8rem, 1.2vw, 0.9rem);
    }
    footer{
        width: 100%;
    }

}

/* Responsividade para telas de 425px */
@media (min-width: 425px) and (max-width: 767px) {
    .hdr-button{
        display: none;
    }
    .banner-section{
        width: 100%;
    }
    .banner-content{
        width: 100%;
    }
    .banner-content h1 {
        font-size: clamp(2rem, 5vw, 3rem);
    }
    .banner-content p {
        font-size: clamp(1rem, 3vw, 1.2rem);
        width: 100%;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-content h2 {
        font-size: clamp(1.8rem, 5vw, 2.5rem);
    }

    .about-content p {
        font-size: clamp(0.9rem, 3vw, 1rem);
    }
    .faq-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .faq-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
    }
    .faq-left h2 {
        font-size: clamp(2rem, 5vw, 2.5rem);
    }

    .faq-left p {
        font-size: clamp(1rem, 3vw, 1.2rem);
    }
    .faq-button {
        width: 100%;
        font-size: clamp(1rem, 3vw, 1.2rem);
    }
    .faq-right h3 {
        font-size: clamp(1.5rem, 5vw, 2rem);
    }
    .faq-right p {
        font-size: clamp(1rem, 3vw, 1.2rem);
    }
    .comments-section{
        display: flex;
        align-items: center;
    }
    .comments-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    .comments-box{
        order: 1;
        width: 100%;
        position: static;
    }
    .comments-list{
        order: 2;
    }
    .comment-item{
        display: flex;
        flex-direction: column;
    }
    .comment-author{
        display: flex;
        align-items: center;
    }
    .comment-author p{
        margin-left: -70px;
    }
    .comments-box h2 {
        font-size: clamp(2rem, 5vw, 2.5rem);
    }

    .comments-box p {
        font-size: clamp(1rem, 3vw, 1.2rem);
    }
    .comment-item p {
        font-size: clamp(1rem, 3vw, 1.1rem);
    }
    .comment-author h3 {
        font-size: clamp(1.3rem, 3vw, 1.5rem);
    }
    .comment-author p {
        font-size: clamp(0.8rem, 2.5vw, 0.9rem);
    }
    footer{
        width: 100%;
    }
}